name: discord message
on:
  # release:
  #   types: [published]  # 只在正式发布 release 时触发（不包括草稿）
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get latest release info
        id: get_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          RELEASE_BODY=$(gh api repos/${{ github.repository }}/releases/latest --jq '.body')
          ESCAPED_BODY=$(echo "$RELEASE_BODY" | jq -Rs .)
          echo "release_body=$ESCAPED BODY" >> $GITHUB_OUTPUT

      - name: Discord notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_URL }}
        uses: Ilshidur/action-discord@master
        with:
          args: |
            A new commit has been pushed to Ilshidur/action-discord.

            **Release Notes:**
            ${{ steps.get_release.outputs.release_body }}
